<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - develeve platform</title>
    <link rel="stylesheet" href="{{ mix('css/app.css') }}">
    <script src="{{ mix('js/app.js') }}"></script>
</head>

<body>
    <div class="relative w-full">
        @!include('layout/menu')

        @!section('content')

        @!include('layout/footer')
    </div>


    {{-- @!component('components/flash') --}}

</body>

</html>