@layout('layout')
@section('content')
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">blog article</h3>
			</div>
			<div class="panel-body">
				<a class="btn btn-primary" href="#">Create New</a>
			</div>
		</div>
	</div>
	@end